*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.second{
    padding-left: 400px;
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly   ;
}

.hero-section{
    height: 700px;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.introduction{
    margin-top: 10px;
    height: 400px;
    width: 100%;
    display: flex;
}

.intro{
    
   height: 400px;
   width: 50%;
   padding: 90px 20px 20px 90px;
}

.intro h1{
    position: absolute;
    margin-top: 20px;
    left: 25px;
    top: 150px;
    font-weight: bold;
    font-size: 40px;
}

.intro h1 span{
    color: red;
}

.social-media{
    position: absolute;
    top: 350px;
    left: 25px;
    display: flex;
    
    height: 40px;
    justify-content: center;
}

.bor{
    height: 40px;
    width: 50px;
    font-size: 30px;
    padding-top: 5px;
}

.intro-img{
    position: absolute;
    height: 400px;
    width: 38%;
    right: 50px;
    background-image: url("bg2.png");
    background-size: cover;
    padding: 8px;
    background-repeat: no-repeat;
}

#intro-part{
    font-size: 20px;
    position: absolute;
    margin-top: 20px;
    left: 25px;
    text-align: justify;
    top: 200px;
    padding: 20px 0px 0px;
    font-weight: bold;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.button{
    display: flex;
}
.btn1{
    position: absolute;
    left: 50px;
    border:none;
    color: #fff;
    padding: 16px 20px;
    font-size: 18px;
    font-family: sans-serif;
    top: 450px;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 10px;
    background: #4070f4;
}
.btn2{
    position: absolute;
    left: 200px;
    border:none;
    color: #fff;
    padding: 16px 20px;
    font-size: 18px;
    font-family: sans-serif;
    top: 450px;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 10px;
    background: #4070f4;
}
.btn:hover{
    box-shadow: 0 0 0 4px #fff,0 0 0 8px #4070f4;
}